.container {
  max-width: 1150px;
  margin: auto;
  overflow: hidden;
}

.main {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main .showcase {
  margin-top: 7rem;
}

.main h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.main p {
  color: var(--text);
}

.main .footer {
  margin-top: 10rem;
  text-align: center;
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  .nav .container {
    display: none;
  }

  .main .showcase {
    margin-top: 10vh;
  }

  .main h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .main p {
    text-align: center;
  }
}

/* /button utility class .btn counld typically be a tags with class of btn(not nav links)/ */
.btn {
  display: inline-block;
  /* color: ;
  background-color: ; */
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
}

.btn:hover {
  background-color: var(--primary);
}
